*{
    margin: 0;
    padding: 0;

}
body{
    
    width: 100%;
    height: 100%;
    color: #f3f3f3;
    font-family: serif;
}
.head{
    
    text-align: center;
    padding:50px;
    border-radius:0 0 30px 30px;
    background-image: url(hoho.jpg);
    background-size: cover;
    grid-column: 1/-1;
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top:50px;
    gap:6px;
    margin:5px;

}
.info1{
    display: grid;
    position: relative;
    color:gray;
    padding: 30%;
    background-color:#f3f3f3;
    border-radius: 30px;
}
.info2{
    display: grid;
    position: relative;
    color:gray;
    padding: 30%;
    background-color: #f3f3f3;
    border-radius: 30px;
}
.info3{
    display: grid;
    position: relative;

    color:gray;
    padding: 30%;
    background-color: #f3f3f3;
    border-radius: 30px;
}
.footer{
    height:70px;
    color:#f3f3f3;
    text-align: center;
    font-size:15px;
    font-family: cursive;
    font-weight: 450;
    background:#008000;
    background-size: contain ;
    padding: 15px;
    border-radius: 0 0 30px 30px;
    
}
.footer>h1{
 color:#f3f3f3;
font-weight: 400;
font-size: 16px;
margin-top: 22.5px;
}

ul{
    float: right;
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 35px;
    margin-top: 2.5px;
    
}
ul li a{
    text-decoration: none;
    align-items: center;
    color: #f3f3f3;
   
}

